<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1002000" android:versionName="1.2.0" package="com.shinobicontrols.charts">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16"/>
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

</manifest>