<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sitecore.android.mediauploader"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".UploaderApp"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sitecore">

	<meta-data android:name="com.crashlytics.ApiKey" android:value="4c24cc2513a38654d20f77a8fcd8b67e09e0bbfa" />

        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.upload.UploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/title_upload_media" />

        <activity
            android:name=".ui.instancemanager.EditInstanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.browser.PreviewActivity" />

        <provider
            android:name="net.sitecore.android.sdk.api.provider.ScItemsProvider"
            android:authorities="net.sitecore.android.uploader.provider"
            android:exported="false" />

        <service android:name=".service.MediaUploaderService" />

        <provider
            android:exported="false"
            android:authorities="net.sitecore.android.provider"
            android:name=".provider.UploadMediaProvider" />

    </application>

</manifest>
