<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sitecore.android.mediauploader"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".UploaderApp"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />

        <activity
            android:name=".ui.upload.UploadActivity"
            android:label="Upload Image" />

        <activity
            android:name=".ui.InstancesActivity"
            android:label="Sitecore Instances" />
        <activity android:name=".ui.EditInstanceActivity" />

        <provider
            android:name="net.sitecore.android.sdk.api.provider.ScItemsProvider"
            android:authorities="net.sitecore.android.uploader.provider"
            android:exported="false" />

        <!--
        <service android:name="net.sitecore.android.sdk.api.UploadMediaService" />
        -->
        <service android:name=".service.MediaUploaderService" />

    </application>

</manifest>
